/Results
/.DS_Store
Data/item_BERT_avrg_RT.pt
Data/user_BERT_avrg_RT.pt
Data/Train100.csv
/Data/.DS_Store
Data/user_chrono_RT_BERT_avrg.csv
Data/movie_genres_RT_BERT_avrg.csv
Data/PreProcessing/__pycache__/
__pycache__/
SB*
slurm*
